/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/

/Minesweeper/target
/Minesweeper/nbproject/
/Minesweeper/bin/
/Minesweeper/highscore.db
/Minesweeper/test.db
/Minesweeper/test2.db
/Minesweeper/daotest.db
